.card {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 60px;
}

.title {
  margin: 0;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.info {
  margin-top: 19px;
  margin-bottom: 40px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.button {
}
