.form {
  max-width: 350px;
  margin-top: 50px;

  &__description {
    margin-top: 20px;
    margin-bottom: 65px;
    color: var(--color-light-900);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  margin-top: 20px;
}

.logIn {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);

  &:visited {
    color: var(--color-accent-500);
  }
  &:hover {
    color: var(--color-accent-300);
  }
}
