.flexCell {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}

.questionImg {
  width: 120px;
  height: 50px;
  object-fit: cover;
}

.answerImg {
  width: 120px;
  height: 50px;
  object-fit: cover;
}
