.title {
  margin-bottom: 27px;
}

.card {
  max-width: 420px;
  padding-top: 37px;
  padding-bottom: 44px;
}

.emailImage {
  width: 96px;
  height: 96px;
  opacity: 0.95;
}

.info {
  margin-top: 19px;
  margin-bottom: 65px;

  color: var(--color-light-900);
  text-align: center;

  opacity: 0.5;
}

.button {
  margin-bottom: 0;
}
