.dropdownMenuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item {
  all: unset;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 13px 0;

  background-color: transparent;

  //border-top: 1px solid var(--color-dark-500);

  &:hover {
    color: var(--color-accent-500);
    background-color: transparent;
  }
}
