.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
  margin-bottom: 10px;
  padding: 12px 136px;
  position: fixed;
  top: 0;
  z-index: 1;

  background-color: #171717;
}

.headerButton {
  margin-left: 10px;
}
